.game-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.burger-button {
  position: absolute;
  top: 35px;
  left: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 6;
  transition: transform 0.2s;
}

.burger-button:hover {
  transform: scale(1.1);
}

.burger-button:active {
  transform: scale(0.95);
}

